/* PARTE DO CSS */

body{
    background-image: url(background.jpg);
}

div.cabeçalho{
    margin: 0 auto;
    width: 60vw;
    height: 10vw;
    background-image: url(bloco.png);
    border: solid black 2px;
    }

@font-face {
    font-family: Minecrafter;
    src: url(Minecrafter.Reg.ttf);
}

h3.texto-cabeçalho{
    padding-top: 2.6vw;
    text-align-last: center;
    margin: 0 auto;
    color: white;
    font-family: Minecrafter;
    font-size: 3.2vw;

    }

    div.conteúdo{
        width: 60vw;
        height: 100vw;
        background-image: url(madeira.jpg);
        margin: 0 auto;
        margin-top: 1vw;
        border: solid black 2px;
    }

    div.conteudo-real{
        
        margin: 0 auto;
        float: left;
        height: 99vw;
        width: 57vw;
   
    
    }

        div.imagem{
            width: 27vw;
            height: 20vw;
            border: solid black 2px;
            margin-left: 2vw;
            margin-top: 2vw;
            float: left;
        }

    img.vila-do-kobuchy{
        margin: 0 auto;
        width: 27vw;
        height: 20vw;      
    }

    div.texto-kobuchy{
        margin: 0 auto;
        
        width: 26.5vw;
        height: 20vw;
        float: left;
       
        margin-left: 1vw;
        margin-top: 1.5vw;
    }

    h3.título{
        font-family: Minecrafter;
        font-size: 1.5vw;
        color: white;
    }

    h3.resto-do-texto{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white
        
    }

